.main {
    width: 100vw;
    height: 300px;
    padding: 0 31.25%;
    display: flex;
    flex-direction: column;    
    background: url('../../../images/bg-desktop-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.darkMain {
    background: url('../../../images/bg-desktop-dark.jpg');
}

.title {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: #fff;
    margin: 70px 0 45px 0;
    letter-spacing: .4em;
    font-size: 40px;
}

.toggleMode {
    width: 25px;
    height: 26px;
    background-size: cover;
    margin-top: 70px;
    cursor: pointer;
    background-image: url('../../../images/icon-moon.svg');
}

.darkMain .toggleMode {
    background-image: url('../../../images/icon-sun.svg');
}

.footer {
    align-self: center;
    margin-top: 55px;
    font-size: 14px;
    color: hsl(236, 9%, 61%);
}

.darkMain .footer {
    color: hsl(233, 14%, 35%);
}

