* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: hsl(235, 21%, 11%);
  overflow-x: hidden;
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}

.App {
  width: 100vw;
  height: 100%;
}
