* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
}

.darkBackground {
  background-color: hsl(235, 21%, 11%);
}

.lightBackground {
  background-color: hsl(0, 0%, 98%);
}